body {
    background: url('../images/cinemas-bg.png') no-repeat center center/cover;
    background-attachment: fixed; 
}

.page-title {
    font-family: 'Times New Roman', Times, serif; 
    color: var(--color-accent-text);
    text-align: left; 
    font-size: 3.5em; 
    font-weight: 400; 
    padding-top: 50px;
    margin-bottom: 20px; 
}

.main-cinema-box {
    padding-bottom: 30px;
    
    background: linear-gradient(180deg, 
        #232A2C 0%, 
        #4C5B5F 25%, 
        #607379 50%, 
        #748B92 100%);
    
    border-radius: 40px; 
    padding: 30px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    width: 900px; 
    max-width: 90%;
    margin: 0 auto 80px auto;
}

.cinema-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cinema-card {
    display: flex;
    align-items: center;
    background-color: #748B92; 
    
    border-radius: 20px; 
    
    padding: 20px;
    box-shadow: 0 0 0 2px rgba(150, 150, 150, 0.5), 
                0 4px 15px rgba(0, 0, 0, 0.3); 
    overflow: hidden;
}

.cinema-card img {
    width: 35%; 
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    margin-right: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cinema-details {
    flex-grow: 1;
}

.cinema-details h3 {
    color: var(--color-accent-text); 
    font-size: 1.8em;
    margin-bottom: 5px;
}

.cinema-details p {
    color: var(--color-accent-text); 
    font-size: 1em;
    line-height: 1.5;
}

.cinema-details .features {
    font-style: italic;
    font-size: 0.9em;
    opacity: 0.9;
}

@media (max-width: 950px) {
    .page-title {
        text-align: center; 
        margin-left: 0;
    }
    .main-cinema-box {
        width: 95%;
        border-radius: 20px; 
        padding: 15px;
        max-width: none;
    }
    .cinema-card {
        flex-direction: column;
        text-align: center;
    }
    .cinema-card img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
